APP_ENV=development
DB_PATH=data/heimdallr.db
SSH_DEPLOY_USER_KEY=~/.ssh/id_ed25519_deploy_heimdallr
SSH_HOST=...
SSH_PORT=...
SSH_DEPLOY_USER=...
XRAY_API_ADDR=127.0.0.1:10085
TG_BOT_TOKEN=...
TG_ADMIN_ID=...
CLIENT_TUNNEL_PORT=10085
SERVER_TUNNEL_PORT=10085
API_ADMIN_TOKEN=...
JWT_SECRET=...
ADMIN_EMAIL=zd_mp
COLLECT_INTERVAL=5s
API_PORT=3000
APP_PORT=3001
STATIC_DIR=out
LOCAL_STATIC_DIR=web/ui/out