name: "Deploy: Heimdallr Service"

on:
  push:
    branches: [main]

permissions:
  contents: read

jobs:
  build-and-delivery:
    name: "Build & Artifact Delivery"
    runs-on: ubuntu 20.04

    steps:
      - name: "Source: Checkout Repository"
        uses: actions/checkout@v4

      - name: "Setup: Initialize Go Environment"
        uses: actions/setup-go@v5
        with:
          go-version: '1.22'
          cache: true
        
      - name: "Build: Compile Static Binary"
        run: |
          CGO_ENABLED=0 GOOS=linux GOARCH=amd64 \ 
          go build -v -ldflags="-s -w" -o heimdallr ./cmd/heimdallr
          # Did the best i could to reduce the binary size
      - name: "Deploy: Transfer Binary to Server"
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_DEPLOY_USER_KEY }}
          port: ${{ secrets.SSH_PORT }}
          source: "heimdallr"
          target: "/var/www/heimdallr"
      
  service-orchestration:
    name: "Service Management"
    runs-on: ubuntu 20.04
    needs: build-and-delivery

    steps:
      - name: "Systemd: Restart Heimdalr Service"
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_DEPLOY_USER_KEY }}
          port: ${{ secrets.SSH_PORT }}
          script: |
            sudo systemctl restart heimdallr.service
      
      - name: "Healthcheck: Verify Service Status"
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_DEPLOY_USER_KEY }}
          port: ${{ secrets.SSH_PORT }}
          script: |
            sudo systemctl is-active --quiet heimdallr.service || exit 1

      
